body {

background-color: black;
font-family: Arial, sans-serif;
    font-size: 120%;
    padding: 20px;

}

h1 {

    border: white;
    color: #fff;
    font-size: 80px;
    opacity: 1;
    text-align: center;
    transition-duration: 0.3s;
    font-family: cursive;

}

p {

    margin: -50px;
    font-weight: normal;
   
}

.container {

    height: 200px;
    width: 200px;
    margin: auto;
    position: relative;
    top: -20px;
}

.b1, .b2, .b3, .b4 {
    background-color: red;
}
.b1, .b2 {
    width: 5px;
    height: 50%;
    position: absolute;
}
.b3, .b4 {
    width: 50%;
    height: 5px;
    position: absolute;
}
.b1, .b3 {
    top: -186px;
    left: -100px;
}
.b2, .b4 {
    bottom: 15px;
    right: -90px;
}

.porcentagem {

    width: 143px;
    height: 143px;
    /*background: rgb(189, 172, 172);*/
    border-radius: 50%;
    position: absolute;
    top: 40px;
    right: -120px;
    /*box-shadow: 5px 15px 1px #1a1e21;*/

}

.porcentagem .num {

    font-size: 44.23px;
    font-weight: bold;
    transform: rotate(15deg);
    padding-top: 45px;
    display: block;
    color: #f0123e;
    margin-right: -20px;
    font-family: 'Caviar Dreams';

}

.porcentagem .off {

    font-size: 22.86px;
    transform: rotate(15deg);
    display: block;
    margin-top: -25px;
    text-transform: uppercase;
    font-family: 'Caviar Dreams';
    color: #fff;

}

  
.popup {
  
    display: none;
    position: fixed;
    padding: 10px;
    width: 340px;
    left: 48%;
    margin-left: -150px;
    height: 300px;
    top: 51%;
    border-radius:20px;
    margin-top: -100px;
    background: black;
    z-index: 20;

}
  
.popup1 {

    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);

}
  
a, a:visited {

    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    display: block;
    margin: 10px 0;

}
  
  
.titulo-cadastro {

    margin: 30px;
    color: white;
    text-align: center;

}

.email-user {

    border-radius: 13px;
    width: 310px;
    line-height: 35px;
    color: red;

}
  
.button {

    height: 58px;
    width: 120%;
    max-width: 330px;
    font-size: 22.67px;
    text-transform: uppercase;
    margin: 19px auto 0;
    background: #f0123e;
    border-radius: 40px;
    display: block;
    line-height: 58px;
    color: #fff;
    transition: all .6s ease;
    margin-top: -90px;
    margin-left: -235px;
    text-align: center;

}
  
.btn-cadastrar{

    margin: 26px 26%;
    border-radius: 40px;
    background: red;
    padding: 15px 41px;
    font-family: arial,sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    float: right;

}
  
.btn-fechar{
  
    background: red;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -16px;
    width: 24px;
    font-weight: bold;

}
  

.segundo-bloco .container {

    background: red;
    padding-bottom: 245px;
    width: 978px;

}

.row {

    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}

.texto-centro {

text-align: center!important;

}

.m-auto {

    margin: auto!important;

}

.titulo {

    font-size: 50.67px;
    font-family: 'Gotham Narrow';
    font-weight: bold;
    color: white;
    margin-top: 20px;

}

.sub-titulo{

    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 0 20px;
    margin-top: -30px;

}

footer .container {

    height: 175px;
    line-height: 75px;
    background: black;
    padding-bottom: 300px;
    width: 977px;

}

.dev{

    color: white;
    position: relative;
    bottom: -170px;
    left: 490px;
    font-family: cursive;
    font-weight: bold;

}

.terceiro-bloco {

    -webkit-box-align: center!important;
    align-items: center!important;

}

.itens-centro {
 
    display: flex!important;
    margin: 0px 346px;
    bottom: -40px;
    position: relative;

}

.rodape-lista {

    align-items: center;
    height: 75px;
}

*, ::before {

    box-sizing: border-box;
}


.facebook {

    position: relative;
    margin: -9px;
    bottom: 10px;

}

.instagram {

    position: relative;
    margin: 64px;
    bottom: 154px;

}

.twitter {

    position: relative;
    margin: 138px;
    bottom: 445px;

}

.youtube{

    position: relative;
    margin: 215px;
    bottom: 887px;

}

.github{

    position: relative;
    margin: 69px;
    bottom: 1114px;
    left: 5px;

}

.linkedin{

    position: relative;
    margin: 119px;
    bottom: 1390px;
    left: 20px;

}


@media only screen and (max-width:820px) {

    .container{

        grid-template-columns: 1fr;

    }
}